.divid
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minmax(40px, 40px);
	grid-gap: 1em;
	justify-items: stretch;
	align-items: stretch;
}

.divid > div
{
	padding: 1em;
}

.divid > div:nth-child(old)
{
	background: #ddd;
}

h1
{
	text-align: center;
}

.wrapper
{
	width:400px;
	padding: 30px;
	background: white;
	grid-column: 1;
	grid-row: 1;
}

.wrapper h2
{
	text-transform:uppercase;
	color: #e74c3c;
}

.wrapper p
{
	color: #222;
	font-weight: bold;
}

.wrapper input[type=text],
.wrapper imput[type=email],
textarea
{
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
}

.wrapper a
{
	text-decoration: none;
	background: #2ecc71;
	color: #fff;
	display: block;
	padding: 10px 15px;
	text-align: center;
	font-size: 15px;
}

.info
{
	grid-column: 2;
	grid-row: 1;
	float left;
}